@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

*{
    box-sizing: border-box;
}
body {
    font-family: "AvenirNext LT Pro";
}
.form{
    &__text{
        color:$silver;
        margin-left: 1rem;
    }
    &__textarea{
        margin-left: 1rem;
        height:6rem;
        width:17rem;
    }
    ::placeholder{
        color:$black;
        margin:2rem;
    }
}