@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.uploadvideo {
  border-top: 1px solid $silver;

  &__title {
    @include pageHeader;
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 1rem 0 0 1rem;
    @include tablet {
      border-bottom: 1px solid $silver;
      margin: 0 0 0 1rem;
      width: 95%;
      padding: 2.5rem 0 1rem 0;

      @include pageHeader(2.063rem);
    }
    @include desktop {
      margin: 0 0 0 5rem;
      width: 90%;
    }
  }
  &__form {
    @include desktop {
      display: flex;
      margin: 0 0 1rem 0;
    }
  }

  &__subtitle {
    @include subHeader;
    color: $silver;
    margin: 1rem 0 0.4rem 1rem;
    @include tablet {
      padding: 1rem 0 0 0;
      @include subHeader(0.875rem);
    }
    @include desktop {
      margin: 1rem 0 0 6rem;
    }
  }
  &__image {
    width: 90%;
    height: 60%;
    margin: 0 1rem 1rem 1rem;
    @include tablet {
      width: 50%;
      height: 23vh;
      margin: 0 0 1rem 1rem;
    }
    @include desktop {
      width: 80%;
      height: 23vh;
      margin: 0.5rem 0 1rem 6rem;
    }
  }
  &__label {
    @include subHeader;
    color: $silver;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0 0;
    @include tablet {
      @include subHeader(0.875rem);
    }
  }

  &__input {
    width: 94%;
    height: 2.5rem;
    border: 1.5px solid $silver;
    border-radius: 0.2rem;
    margin: 0.5rem 1rem 1rem 0;
    padding-left: 1rem;
    background-color: $mercury;
    font-family: inherit;
    @include tablet {
      width: 97%;
      height: 3rem;
    }
    @include desktop {
      width: 90%;
      height: 3rem;
    }
    &::placeholder {
      color: $black;
      @include bodyCopy(1rem, 1rem, 600);
    }
  }

  &__textarea {
    width: 94%;
    height: 5.5rem;
    border: 1.5px solid $silver;
    border-radius: 0.2rem;
    margin: 0.5rem 1rem 1rem 0;
    padding: 0.8rem 0 3rem 1rem;
    background-color: $mercury;
    font-family: inherit;
    @include tablet {
      width: 97%;
      height: 6rem;
    }
    @include desktop {
      width: 90%;
      height: 7rem;
    }
    &::placeholder {
      color: $black;
      @include bodyCopy(1rem, 1rem, 600);
    }
  }
  &__first {
    @include desktop {
      width: 40%;
    }
  }
  &__second {
    margin: 0 0 0 1rem;
    @include tablet {
      margin: 0 0 0 1rem;
      width: 95%;
    }
    @include desktop {
      width: 60%;
      margin: 3rem 0 0 3rem;
    }
  }
  &__third {
    display: flex;
    flex-direction: column;
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
      border-top: 1px solid $silver;
      margin: 0 2rem 0 1rem;
    }
    @include desktop {
      border-top: 1px solid $silver;
      margin: 0 4rem 0 5rem;
    }
  }
  &__icon {
    position: absolute;
    color: $white;
    width: 1.3rem;
    margin: 1rem 0 0 2rem;
    @include tablet {
      margin: 2.6rem 8rem 1rem 8rem;
    }
  }

  &__buttonname {
    background-color: $blue;
    color: $white;
    @include labels;
    border: none;
    border-radius: 0.2rem;
    width: 90%;
    height: 2.3rem;
    margin: 0.5rem 1rem 2rem 1rem;
    @include tablet {
      width: 10rem;
      height: 2.5rem;
      margin: 2rem 0 0 0;
    }
    @include desktop {
      margin: 2rem 0 0 0;
    }
  }
  &__name {
    color: $blue;
    @include subHeader;
    text-align: center;

    @include tablet {
      @include subHeader(0.875);
      margin: 2.7rem 5rem 0 0;
    }
  }
}
